.mt-40 {
  margin-top: 40px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-12 {
  margin-top: 12px;
}

.d-flex {
  display: flex;
}