@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');
.card-swipe-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    margin: 0px 0px 0px 0px !important;
}

.container {
    margin-bottom: 45px;
}

.categories-show-head {
    margin: 20px 0 0 30px;
}

.categories-show-bottom {
    padding: 20px;
    margin-top: 30px;
}

.app-font {
    font-family: 'Inter', sans-serif;
    color: #a1a1a1;
 
}

.detailed-info {
    font-family: 'Inter', sans-serif;
    color: #a1a1a1;
    font-size: 10px;
    line-height: 18px;
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;


}
.head-text-strong {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 21px;
    margin: 0;
}

.head-text-light {
    font-family: 'Inter', sans-serif;
    color: #a1a1a1;
    font-weight: 600;
    font-size: 21px;
    margin: 0;
}

.card-content {
    overflow: hidden;
    background: white;
    padding: 20px;
}

.card-content>img {
    border-radius: 10px;
    height: 360px;
    width: 100%;
    object-fit: cover;
    border: 1px solid hsl(0, 0%, 90%);
}

.card-content p {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #a1a1a1;
    margin: 0;
}

.lh-23 {
    line-height: 23px;
    margin: 20px 20px 20px 20px;
}

.container-categories-show-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 130px [col-start]);
    grid-column-gap: 60px;
    overflow-x: auto;
    scrollbar-width: none;
}

.cat-single-show-card {
    border-radius: 10px;
    border: 0px solid #666;
    width: 176px;
    height: 130px;
    display: flex;
    align-items: flex-end;
    margin: 0 0 15px 0;
    background-color: #C4C4C4;
}

.cat-card-show-text {
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-align: left;
    padding: 0 10px 20px 10px;
    max-width: 130px !important;
}

.fas {
    width: 59px;
    margin: 0 10px;
}

.card-content .card-content-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.fa-heart {
    font-size: 42px;
    color: #61da93;
    line-height: 1;
    align-self: start;
    height: 100%;
}

.fa-times {
    font-size: 42px;
    color: #f34a34;
    line-height: 1;
    align-self: start;
    height: 100%;
}

.fa-map-marker-alt {
    font-size: 42px;
    color: #5691F6;
    line-height: 1;
    align-self: start;
    height: 100%;
}