@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');
.good-dash-container {
    padding: 25px 20px 30px 20px;
    background-color: hsl(0, 0%, 97%);
    margin-top: -35px;
}

.good-profile-image {
    text-align: center;
    margin-bottom: 15px;
}

.good-dash-headline {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 15px 15px 30px 25px;
}

.good-cards-container {
    display: grid;
    grid-template-columns: 1fr;
}

.good-places-card {
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.good-card-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2em;
    padding: 15px;
    text-transform: capitalize !important;
}

.good-dash-card-icon {
    flex-grow: 1;
    align-self: flex-end;
    padding: 12px 14px;
    background-color: #F34A34;
    border-radius: 10px;
}

.good-dash-card-icon:hover {
    background-color: rgb(48, 48, 48);
}

.fa-trash-alt {
    font-size: 17px;
    color: #fff;
}
