

<div class= "dashboard">
  <div class="dashboard-profile">
    <div class="good-profile-image">
      <%= image_tag 'profile-image-xue.png', class: "good-profile-image" %>
      <div class= "welcome-text"><strong class="head-text-strong" > Hi. <div class="head-text-light"> <p>  You have liked xxx places</p>
      </div>
      </div>
    </div>
  </div>

    <div class="dashboard-cards">

      <div class="places-card">
       <i class="far fa-trash-alt"></i>
      </div>


      <div class="places-card">
        <i class="far fa-trash-alt"></i>
      </div>

      <div class="places-card">
       <i class="far fa-trash-alt"></i>
      </div>
      
      <div class="places-card">
       <i class="far fa-trash-alt"></i>
      </div>

      <div class="places-card">
       <i class="far fa-trash-alt"></i>
      </div>

      <div class="places-card">
       <i class="far fa-trash-alt"></i>
      </div>
    </div>
</div> 
  
