<div class="categories-head">
  <p class="head-text-light"><strong class="head-text-strong">Categories.
    </strong> Discover places that make a difference.</p>
</div>

<div class="container-categories-cards">
  <% @tags.each do |tag| %>
    <div class="cat-single-card">
      <%  %>
      <div class="cat-card-text">
        <%= tag.name %>
      </div>
    </div>
  <% end %>
</div>
