<div class="container-search">
  <div class="search-box">
    <div class="search-inner">
      <div class="search-here">Search here...</div>
      <div class="search-button">
       <div class="search-btn-txt">Go</div>
      </div>
    </div>
  </div>
</div>
