<div class="container-search">
  <%= form_tag swipe_places_path, method: :get do %>
    <%= text_field_tag :place_name,
      params[:place_name],
      class: "form-control",
      placeholder: "Find good spots..."
    %>
    <%= submit_tag "Go", class: "search-button" %>
  <% end %>
</div>
