
<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">Recommended.</strong> Places that our team really likes</p>
</div>

<div class="big-and-small-card-container d-flex">

  <div class="small-cards-container mr-12">
    <div class="small-card">
      <div class="reco-places">
      <div class= small-card-text><p>Card Head</p>
      </div>
      </div>
    </div>
    <div class="small-card mt-12">
      <div class="reco-places">
      </div>
    </div>
  </div>

  <div class="big-card mr-12">
    <div class="big-card-title">

    </div>
  </div>

    <div class="small-cards-container mr-12">
    <div class="small-card">
      <div class="reco-places">
      </div>
    </div>
    <div class="small-card mt-12">
      <div class="reco-places">
      </div>
    </div>
  </div>

  <div class="big-card mr-12">
    <div class="big-card-title">

    </div>
  </div>
</div>
