<div class="container-top-bar-default">
  <div class="menu-container">
    <%= link_to overview_places_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="good-logo">
    <%= image_tag 'gs-logo-v06.svg' %>
  </div>
<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Dashboard</button>
    <button class="dropdown-item" type="button">Search</button>
    <div class="dropdown-divider"></div>
    <button class="dropdown-item" type="button">Log out</button>
  </div>
</div>

</div>
