<div class="container-top-bar-default">
  <div class="logo">
    <%= image_tag 'goodspots_logo_big_v01' %>
  </div>
  <div class="menu-container">
    <div class="menu-mobile-hamburger">

    </div>
  </div>
</div>
