<div class="container-top-bar-default">
  <div class="menu-container">
    <%= link_to overview_places_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="good-logo">
    <%= image_tag 'gs-logo-v06.svg' %>
  </div>
    <%= image_tag 'profile-image-xue.png', class: "header-profile-image" %>
</div>
