<div class="container-top-bar-default">
  <div class="logo">
    <%= image_tag 'gs-logo-v06' %>
  </div>
  <div class="menu-container">
    <div class="menu-mobile-hamburger">
      <%= image_tag 'hamburger-button' %>
    </div>
  </div>
</div>
