<div class="welcome-page-container">
  <%= image_tag "welcome2.svg", class: "welcome-image" %>

  <div class="welcome-text">
    <p class="head-text-light"><strong class="head-text-strong">Ready?
      </strong><br />Go, search online and act offline!</p>
  </div>

<div class="good-welcome-footer">

  <div class="splash-navi">
    <%= link_to splash2_path do %>
      <i class="fas fa-angle-left good-l-angle" aria-hidden="true"></i>
    <% end %>


  <div class="good-dot-navi">
    <i class="far fa-circle good-dot"></i>
    <i class="far fa-circle good-dot"></i>
    <i class="fas fa-circle goot-dot"></i>
  </div>

    <%= link_to overview_places_path do %>
      <i class="fas fa-angle-right good-r-angle" aria-hidden="true"></i>
    <% end %>
  </div>

</div>

</div>

</div>
