<div class="slider-wrap">
  <div class="slider" id="slider">
    <div class="holder">
      <div class="slide-wrapper">
        <div class="slide">
          <div class="slide-image">
            <%= image_tag "coffee01" %>
          </div>
        </div>
        <span class="temp">74</span>
      </div>
      <div class="slide-wrapper">
        <div class="slide">
          <div class="slide-image">
            <%= image_tag "fair01" %>
          </div>
        </div>
        <span class="temp">64</span>
      </div>
      <div class="slide-wrapper">
        <div class="slide">
          <div class="slide-image">
            <%= image_tag "healthy01" %>
          </div>
        </div>
        <span class="temp">82</span>
      </div>
    </div>
  </div>
</div>
