<div class="splash-body">
  <div class="splash1-page-container">
    <div class="splash-row">
      <div class="splash-col">
        <div class="splash-block">
          <div class="splash1-overlay-01"></div>
          <div class="splash-h1">
            Valuable
          </div>
          <div class="splash-p">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
