<div class="welcome-page-container">
  <div class="welcome-logo-container">
  <%= image_tag "gs-logo-v06.svg", class: "welcome-logo" %>
  </div>

  <div class="welcome-text">
    <p class="head-text-light"><strong class="head-text-strong">Find.
      </strong><br />Sustainable places nearby.</p>
  </div>

<div class="good-welcome-footer">

  <div class="splash-navi">
    <%= link_to splash1_path do %>
      <i class="fas fa-angle-left good-l-angle-off" aria-hidden="true"></i>
    <% end %>


  <div class="good-dot-navi">
    <i class="fas fa-circle goot-dot"></i>
    <i class="far fa-circle good-dot"></i>
    <i class="far fa-circle good-dot"></i>
  </div>

    <%= link_to splash2_path do %>
      <i class="fas fa-angle-right good-r-angle" aria-hidden="true"></i>
    <% end %>
  </div>

</div>

</div>
