@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');
.alert {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
}

.alert-info,
.alert-warning,
.alter-danger {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #00286E;
    border-color: #00286E;
}