
.head-text-light{
  font-family: 'Inter', sans-serif;
  color: #a1a1a1;
  font-weight: 600;
  font-size: 21px;
  margin: 0;
}

.small-cards-container {
  flex-shrink: 0;
  height: 200px;
}

.big-and-small-card-container {
  overflow-x: auto;
  scrollbar-width: none;
}
.small-card{
  border-radius: 10px;
  border: 1px solid #666;
  width: 174px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background-size: cover;
  background-position: center;
  color: white;
}

.big-card{
  border-radius: 10px;
  border: 1px solid #666;
  width: 174px;
  height: 274px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  color: white;
}


.big-card-title{
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .08em;
}
