.small-cards-container {
position: absolute;
width: 156px;
height: 201px;
left: 204px;
top: 430px;
border-radius: 50%;

  h2 {
    font-size: 30px;
    color: slateblue;
  }
}

.small-card {
  position: absolute;
  width: 156px;
  height: 201px;
  left: 204px;
  top: 430px;
  border-radius: 50%;
  
    h1 {
      font-size: 30px;
    }
  }