.head-text-strong {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 21px;
    margin: 0;
}

.head-text-light {
    font-family: 'Inter', sans-serif;
    color: #a1a1a1;
    font-weight: 600;
    font-size: 21px;
    margin: 0;
}