@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');
input,
textarea,
select,
button,
 ::file-selector-button {
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0;
    letter-spacing: 0;
}

input {
    font: 'Inter', sans-serif !important;
    color: hsl(0, 0%, 50%);
    display: inline-block;
    appearance: none;
    -moz-default-appearance: none;
    padding: 0;
    border: 0px;
    background-color: hsl(0, 0%, 50%);
    text-rendering: optimizeLegibility;
    cursor: text;
    overflow-clip-box: padding-box content-box;
}

input:hover,
input:active,
input:focus,
input:focus-visible,
input:focus-within,
input:target {
    border: none;
    outline: 2px solid #69D2AA;
}

.container-search {
    margin: 120px 20px 35px 20px;
}

.container-search form {
    display: flex;
    justify-content: space-between;
}

.form-control {
    font: 'Inter', sans-serif !important;
    font-size: 17px !important;
    font-weight: 500;
    line-height: 1em;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(181, 48%, 75%);
    background-color: hsl(0, 0%, 97%);
    border-radius: 8px;
    width: 80%;
    height: 60px;
    padding: 15px 7px;
    margin-right: 10px;
}

.search-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    font-family: 'Inter', sans-serif !important;
    color: #00286E;
    background-color: #69D2AA;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .8;
    padding: 12px;
    width: 60px !important;
    height: 60px !important;
    text-align: center;
}

.search-button:hover {
    color: #69D2AA !important;
    background-color: #00286E !important;
}