@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');

.container-top-bar-default {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 35px 0;
}

.logo img {
  width: 140px;
  height: auto;
}

.fa-chevron-left {
  font-size: 25px;
  color: #69d2aa;
  margin: 15px 15px 15px 18px;
}

.fa-ellipsis-v {
  font-size: 24px;
  color: #69d2aa;
  margin: 15px 25px 15px 15px;
}
