@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');
.container-top-bar-default {
    display: flex;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    margin: 0px 0 35px 0;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.good-logo img {
    width: 140px;
    height: auto;
}

.dropdown {
    margin: 12px 25px 15px 0;
    z-index: 2000 !important;
}

.dropdown-menu {
    z-index: 2000;
}

.dropdown-item {
    margin: 15px 0;
    z-index: 2000;
}

.dropdown-item:hover {
    color: #69d2aa;
}


/* .header-profile-image {
    width: 48px;
    height: 48px;
    margin: 7px 20px 15px 15px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 100%;
} */

.fa-chevron-left {
    font-size: 25px;
    color: #69d2aa;
    margin: 15px 15px 15px 18px;
}

.fa-ellipsis-v {
    font-size: 24px;
    color: #69d2aa;
    margin: 15px 25px 15px 15px;
}