<div class="page-container">
  <div class="top-bar">
    <div class="logo">
    </div>
    <div class="hamburger-menu">
    </div>
    <div class="search-container">
      <div class="search-word">
      </div>
      <div class="search-button">
        <div class="button-text">
        </div>
      </div>
    </div>
    <div class="categories-container">
      <div class="cat-title">
      </div>
      <div class="cat-card">
        <div class="cat-text">
        </div>
      </div>
    </div>
  </div>
</div>
