<%= render 'shared/top-bar-default' %>
<%= render 'shared/categories' %>

<div class="name_container">
<h2>Recommended.</h2>
<h3>Places that our team really likes</h3>

<div class="big-and-small-card-container">
  <div class="small-cards-container">
    <div class="small-card">
      <h2>CATEGORY TAG</h2>
      <h1>Card Head h3</h1>
      <div class="reco-places">
        <img src="https://unsplash.com/photos/c2Y16tC3yO8" alt="coffee">

    <div class="small-card">
      <h2>CATEGORY TAG</h2>
      <h1>Card Head h3</h1>
      <div class="reco-places">
        <img src="https://unsplash.com/photos/c2Y16tC3yO8" alt="coffee">
      </div>
    </div>
  </div>
  
  <div class="big-card">
    <div class="big-card-title">
      <h2>CATEGORY TAG</h2>
      <h1>Card Head h3</h1>
    </div>
  </div>
</div>
