<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">Search-Term</strong> in your current area</p>
</div>

<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1514066558159-fc8c737ef259?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" />
  <div class="card-trip-infos">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user-2 avatar-bordered" />
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user-3 avatar-bordered" />
  </div>
</div>

<div class="categories-head mt-40">
  <p class="head-text-light"><strong class="head-text-strong">More.</strong> Get inspired be all the great places here</p>
</div>
